* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#playerAttack1 {
    display: none;
}

#playerAttack2 {
    display: none;
}

#playerAttack3 {
    display: none;
}

#playerDeath {
    display: none;
}

#playerHurt {
    display: none;
}

#playerIdle {
    display: none;
}

#dragonAttack {
    display: none;
}

#dragonIdle {
    display: none;
}

#dragonHurt {
    display: none;
}

#dragonDeath {
    display: none;
}

#playerWalk {
    display: none;
}

#container {
    background-image: url('./Cloudy Vines.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
    padding: 10px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* #canvas1 {
    flex: 1;
    border: 1px solid black;
    background-color: grey;
    width: 1000px;
} */

#playerCanvas {
    flex: 1;
    /* border: 1px solid black; */
    background-color: transparent;
    width: 500px;
}

#enemyCanvas {
    flex: 1;
    /* border: 1px solid black; */
    background-color: transparent;
    width: 500px;
}